#left {
  display: grid;
  grid-template-columns: 1fr;
}

#gameboards-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.row {
  display: flex;
}

.cell {
  border: 2px solid black;
  min-width: 30px;
  min-height: 30px;
}

.ship {
  display: flex;
  background-color: gray;
  width: min-content;
}
